
#container {
    width: 100%;
    margin-top: 3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  #container img {
    width: 40%;
    border-radius: 10px;
  }
  
  #productbox {
    cursor: pointer;
    margin-top: 5%;
    width: 99%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1%;
  }
  
  #productbox .box {
    margin-bottom: 10%;
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #productbox .box h4 {
    margin: 0;
    margin-top: 5%;
    margin-bottom: 7%;
  }

  #productbox .box p {
    width: 100%;
    margin: 0;
    margin-bottom: 28%;
    /* float: center; */
    font-size: 1rem;
    padding: 10%;
    background-color: #bdc3c7;
    /* color: white; */
    border-radius: 20px;
    text-transform: capitalize;
  }
  #productbox .box #buy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 85%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  #productbox .box #buy h3 {
    margin: 0px 0px;
  }
  
  #productbox .box #buy button {
    width: 35%;
    font-size: 1rem;
    height: 4.5vh;
    background-color: #f1c40f;
    border-radius: 10px;
    border: 0;
    color: white;
  }
  #productbox .box img {
    width: 70%;
    height: 18vh;
    margin: auto;
    border-radius: 10px;
  }